@import "tailwindcss";


html,
body,
#root {
  height: 100%;
  background-color: #0b0f1a;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
}

/* Smooth UI */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 6px;
}